main{
    width: 600px;
    margin: auto;
    margin-bottom: 89px;
}

header h2{
    font-size: 1.5em; 
    margin: 0;
    color: black;
}

header p{
    font-style: italic;
}

header p strong{
    text-decoration: underline;
}

.metrics{
    font-size: 1rem;
    font-weight: 400;
    font-style: italic;
    color: grey;
}

#main-header{
    text-align: center;
    margin: 26px 0px;
}

#title{
    margin-bottom: .4em;
}

#load-msg{
    font-size: 1.5em;
    color: #555;
    text-align: center;
}

#results-container header h2{
    font-size: 1rem;
    color:black;
}

.author-listing header{
    display:flex;
    align-items: baseline;
    justify-content: space-between;
}

.author-listing article img{
    width: 200px;
}

.author-listing article{
    display:flex;
    align-content: flex-start;
    margin-left: 30px;
    width: 570px;
    gap: 12px;
}

.article-info h1{
    font-size: 1.25rem;
    margin-top: 0;
}

.article-info img{
    width: 125px;
}